.g-div {
    display: block;
    position: relative;
    bottom: 0;
    align-content: space-around;
    justify-content: space-between;
    text-shadow: #FC0 1px 0 10px;
    
}
button {
    color : red;
    /* background-color: whitesmoke; */
    height: 100%;
    width: 100%;
    font-size: 10vh;
    /* border: solid 5px black; */
    font-family: 'Permanent Marker', cursive;
    text-shadow: #FC0 1px 0 10px;

}

/* keep button at very bottom */